:root {
  --rosegold: #b76e79;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-family: "Gabriola", cursive;
  font-variant: small-caps;
  text-align: center;
}

header h1 {
  font-family: "Brush Script MT", cursive;
  color: var(--rosegold);
  font-size: 50px;
}

header,
nav {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding-left: 10px;
}

nav ul li a {
  color: black;
}

ul li {
  list-style: none;
  font-family: "Tahoma";
}

ul li a:hover {
  color: var(--rosegold);
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-shrink: 0;
  margin-top: 20px;
}

footer .row {
  display: inline;
}

footer h4 {
  font-family: "Brush Script MT", cursive;
  color: var(--rosegold);
}

footer ul li {
  font-size: 16px;
  display: inline-block;
  padding-right: 8px;
  text-align: center;
  margin: 0;
}

/* HOME */
.home-carousel-img {
  width: 65%;
  border-radius: 40px;
  border: silver 8px double;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home {
  text-align: center;
  background-color: var(--rosegold);
}

/* ABOUT */
.about {
  text-align: center;
  border: 8px double var(--rosegold);
  border-radius: 40px;
  margin: 10px 25px 10px 25px;
  padding: 10px 0 10px 0;
}

.about img {
  border-radius: 40px;
  width: 30%;
  border: var(--rosegold) 8px double;
}

/* CONTACT FORM */

.contactform img {
  border-radius: 40px;
  width: 30%;
  border: var(--rosegold) 8px double;
}

.contactform {
  text-align: center;
}

form .row {
  /* justify-content: center; */
  text-align: center;
}

.about p {
  font-family: "Tahoma";
}

/* CONTACT */
.contact {
  text-align: center;
}

.contact a {
  font-size: 13px;
  color: var(--rosegold);
}

.contact a:hover {
  color: gray;
}

.contact a svg {
  padding-right: 5px;
}

label {
  /* padding-right: 8px; */
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-variant: small-caps;
  margin-right: 5px;
}

input, textarea {
  margin-bottom: 15px;
  border: #b76e79 3px double;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 15px;
}

.contact h2 {
  /* font-family: "Gabriola", cursive; */
  text-align: center;
  font-weight: 600;
}

h5 {
  font-family: "Gabriola", cursive;
  text-align: center;
  font-weight: 500;
}

form {
  text-align: center;
  display: inline-block;
}

button {
  background-color: var(--rosegold);
  border-radius: 30px;
  font-weight: 600;
  font-variant: small-caps;
  border: grey 3px double;
}

button:hover {
  background-color: grey;
}

button:focus {
  background-color: black;
  color: white;
}

/* EVENTS */
.events {
  text-align: center;
  border: 8px var(--rosegold) double;
  border-radius: 40px;
}

.embed-responsive-item {
  width: 50%;
  height: 50%;
  /* margin-left: 20%; */
}

iframe {
  border-radius: 20px;
  /* border: 8px var(--rosegold) double; */
}

.events h2 {
  font-family: "Gabriola", cursive;
  font-variant: small-caps;
}
